* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px
}

.ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.header-wrapper {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
}

.header {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.8em 3em;
    gap: 3.75rem;
    transition: height 0.3s ease, padding 0.3s ease;
    z-index: 2000;
}
.header.shrink {
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    padding: 0.3rem 3em;
}
.header a{
    text-decoration: none;
    cursor: pointer;
    color: #1b263b;
    font-weight: bold;
    font-size: 1.8em;
}
.header-center {
    flex: 3;
    font-size: 26px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-center strong a {
    transition: 0.3s ease;
}
.header-center:hover strong a{
    color: #324357;
}
.header-left, .header-right {
    flex: 1;
    display: flex;
}
.header-line {
    height: 2px;
    background-color: #0a0908;
    width: 100%;
}
.header-line.shrink-line {
    height: 0;
}
@media (max-width: 768px) {
    .header {
        padding: 0.5rem 1rem;
    }
    .header.shrink {
        padding: 0.25rem 1em;
    }
    .header a {
        font-size: 1.5rem;
    }
}
@media (max-width: 320px) {
    .header a {
        font-size: 1.1rem;
    }
}
.group-mobile,
.group {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 0;
    border-bottom: 1px solid #595959;
}
@media (max-width: 768px) {
    .group {
        display: none;
    }
}
.search-submit {
    background: transparent;
    border: none;
}
.search-submit img {
    width: 1.25em;
    height: 1.25em;
    transition: 0.3s ease;
}
.search-submit img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.search-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
.search-input:focus, .search-input:hover {
    outline: none;
}
.sort-menu-form {
    display: flex;
    gap: 0.6em;
    margin: 8px 0 2px 0;
}
.sort-menu-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: #fff;
    color: #333;
    padding: 0 1em 0 0;
    font-size: 1.05rem;
    border: none;

    background-image: url("data:image/svg+xml,%3Csvg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.05em center;
    background-size: 1em;

    outline: none;
    box-shadow: none;
}
.left-container h2, .right-container h2 {
    font-size: 1.7em;
}
/* ------------------ main part ------------------ */
.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 1.2rem;
    padding: 2rem 3rem;
    gap: 3.7rem;
}
.center-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
.right-container,
.left-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .right-container,
    .left-container{
        display: none;
    }
    .main-container {
        margin-top: 0;
        padding: 1rem 2rem;
    }
}
@media (max-width: 425px) {
    .main-container {
        margin: 0;
        padding: 0.2rem 1rem;
    }
}
.mobile-sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100%;
    background: white;
    transition: left 0.35s ease;
    z-index: 1001;
    overflow-y: auto;
    padding: 1.8rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}
.mobile-sidebar.active {
    left: 0;
}
.mobile-sidebar-button {
    z-index: 1001;
}
.sidebar-button {
    font-size: 1.5rem;
}
@media (min-width: 769px) {
    .mobile-sidebar,
    .mobile-sidebar-button {
        display: none;
    }
}
.mobile-sidebar h2 {
    margin-bottom: 1rem;
    gap: 2.5rem;
    font-size: 1.7em;
}
.sidebar-tags {
    margin-bottom: 2.5rem;
}
.sidebar-header {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

/* ------------------ center container ------------------ */
.main-quote {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1em;
    user-select: none;
}
.main-quote a {
    font-size: 2em;
    text-align: center;
}
@media (max-width: 425px) {
    .main-quote {
        margin-top: 0.5rem;
    }
}
@media (max-width: 386px) {
    .main-quote a {
        font-size: 1.7rem;
    }
}
@media (max-width: 320px) {
    .main-quote a {
        font-size: 1.5rem;
    }
}
.main-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}
.main-article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0.6em;
}
.main-article a {
    text-decoration: none;
    color: #0a0908;
}
.main-article a span {
    color: #495057;
    font-size: 0.85em;
    font-weight: 400;
}
.main-article a h3{
    font-size: 1.2em;
    font-weight: 400;
}
.main-article a h1 {
    font-size: 1.6em;
}
.main-article a h1:hover, h3:hover {
    text-decoration: underline 1px;
}
.image-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}
.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 33rem;
    transition: filter 0.3s ease, transform 0.3s ease;
    /*border-radius: 10px;*/
}
.image-wrapper img:hover {
    filter: brightness(75%); /* Затемнение */
    /*transform: scale(1.02);  !* Небольшое увеличение *!*/
}

/* ------------------ right container ------------------ */
.categories {
    display: flex;
    flex-direction: column;
}
.right-container h2 {
    margin-bottom: 1rem;
    gap: 2.5rem;
}
.categories-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.category-line {
    height: 2px;
    background-color: #0a0908;
    width: 100%;
}
.category-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-name h3 {
    margin-right: 0.6em;
    transition: 0.3s ease;
}
.category-name a {
    font-size: 1.2em;
    margin: 0.7em 0;
    text-decoration: none;
    color: #0a0908;
}
.category-name:hover a{
    color: #949494;
    cursor: pointer;
}
.category-name:hover h3{
    margin-right: 0;
}
.category-button {
    display: flex;
    gap: 4em;
    align-self: flex-start;
    margin: 20px 0 40px 0;
    padding: 0.2em 1.2em 0.2em 0.8em;
    border: solid 1px #0a0908;
    border-radius: 15px;
    font-size: 1.2em;
    transition: 0.3s ease;
    text-decoration: none;
    color: #0a0908;
}
.category-button:hover {
    background-color: #0a0908;
    color: white;
    cursor: pointer;
    padding: 0.2em 0.8em;
    gap: 4.4em;
}
.category-button div {
    font-size: 1.2rem;
}
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}
.tag {
    background-color: #ffffff;
    border: solid 1px #0a0908;
    border-radius: 15px;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    color: #0a0908;
    font-size: 0.9em;
    transition: background-color 0.3s, color 0.3s;
}
.tag:hover {
    background-color: #0a0908;
    color: #ffffff;
}

/* ------------------ left container ------------------ */
.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
    margin-bottom: 2em;
    border-left: 1px #0a0908 solid;
    padding-left: 0.6em;
}
.main-left-quote {
    font-size: 1.2em;
}
.main-left-quote-author {
    font-size: 0.8em;
}
.main-left-news {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.left-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6em;
}
.left-article a {
    text-decoration: none;
    color: #0a0908;
    font-size: 0.7rem;
}
.left-article a img {
    margin-bottom: 0.55rem;
    /*border-radius: 10px;*/
    object-fit: cover;
}
.left-article a h2:hover {
    text-decoration: underline 1px;
}
.left-article-date {
    color: #495057;
    font-size: 0.8rem;
    font-weight: 400;
}

/* ------------------ home page bottom part ------------------ */
.main-container-bottom {
    padding: 1.2rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    gap: 5rem;
}
.category-news-container {
    display: flex;
    flex-direction: column;
}
.category-news-container h2 {
    margin: 0.6rem 0;
}
.article-wrapper {
    color: #0a0908;
}
.article-wrapper:hover {
    text-decoration: underline;
    cursor: pointer;
}
.article-wrapper img {
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
.category-news-container h2 {
    font-size: 1.3em;
}
.category-news-container h4 {
    margin: 0.4rem 0;
}
.category-news-container h4:hover {
    text-decoration: underline;
}
.category-news-container h4 a{
    color: #0a0908;
    text-decoration: none;
    font-size: 1rem;
}
.border-line {
    background-color: #0a0908;
    width: 100%;
    height: 2px;
}
.bottom-article-title {
    margin: 0.6rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #0a0908;
    text-decoration: none;
}
.bottom-article-title:hover {
    text-decoration: underline 1px;
    cursor: pointer;
}
@media (min-width: 1895px) {
    .main-container-bottom {
        padding: 1.3rem 4rem;
        grid-template-columns: repeat(auto-fill, minmax(510px, 1fr));
        gap: 7rem;
    }
}
@media (max-width: 768px) {
    .main-container-bottom {
        padding: 1.2rem 2rem;
    }
}
@media (max-width: 425px) {
    .main-container-bottom {
        padding: 1.2rem 0.5rem;
    }
}
@media (max-width: 375px) {
    .main-container-bottom {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

/* ------------------ home page latest article part ------------------ */
.latest-articles-container {
    padding: 2rem 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.latest-articles-container h2 {
    font-size: 1.5rem;
}
.latest-articles-container hr {
    border-top: 1px solid #0a0908;
    margin: 0.25rem 0 2rem 0;
}
.latest-article {
    width: 100%;
    position: relative;
}
.latest-article-last::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 200%; /* регулируй по нужной высоте затемнения */
    background: linear-gradient(to top, rgb(255, 255, 255), rgba(0,0,0,0));
    pointer-events: none; /* чтобы не мешал кликам */
    z-index: 5;
}
.latest-article-wrapper {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    color: #0a0908;
    text-decoration: none;
}
.latest-article-img {
    flex: 1;
}
.latest-article-img img{
    width: 100%;
    transition: filter 0.3s ease;
    max-height: 13rem;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.latest-article-img img:hover{
    filter: brightness(75%);
}
.latest-article-text {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.latest-article-text h1{
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
}
.latest-article-text h1:hover{
    text-decoration: underline 1px;
}
.latest-article-text h3{
    font-weight: 400;
    font-size: 1.2rem;
}
.latest-article-text span {
    color: #686461;
}
.latest-more-button-div {
    display: flex;
    justify-content: center;
    width: 100%;
}
.latest-more-button {
    position: relative;
    bottom: 2.8rem;
    display: flex;
    gap: 5rem;
    align-self: flex-start;
    padding: 0.6rem 1.2rem 0.6rem 0.8rem;
    border: solid 1px #0a0908;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s ease;
    text-decoration: none;
    color: #0a0908;
    z-index: 100;
}
.latest-more-button:hover {
    background-color: #0a0908;
    color: white;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    gap: 5.5rem;
}
@media (max-width: 1024px) {
    .latest-article-img {
        flex: 2;
    }
    .latest-articles-container {
        padding: 2rem 3rem;
    }
}
@media (max-width: 768px) {
    .latest-articles-container {
        padding: 2rem 2rem;
    }
}
@media (max-width: 425px) {
    .latest-articles-container {
        padding: 2rem 1rem;
    }
    .latest-article-img {
        flex: 3;
    }
    .latest-article-img img{
        aspect-ratio: 16 / 9;
    }
    .latest-article-text h1{
        font-size: 1.1rem;
    }
    .latest-article-wrapper {
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .latest-article-text h3 {
        display: none
    }
}

/* ------------------ article detail view ------------------ */
.article-main-container {
    display: flex;
    padding: 1.2rem 1.2rem;
    max-width: 90rem;
    margin: 0 auto;
    gap: 2.5rem;
}
.article-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.article-region {
    color: #595959;
    text-decoration: none;
}
.article-region:hover {
    text-decoration: underline;
}
.article-category {
    text-decoration: none;
    color: #0a0908;
    margin-right: 0.7rem;
}
.article-category:hover {
    text-decoration: underline 1px;
}
.article-info {
    font-size: 0.9rem;
    color: #595959;
}
.article-container h1 {
    margin-bottom: 0.4rem;
    font-size: 1.7rem;
}
.article-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 1rem;
}
.article-container h4 {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0.3rem 0;
    color: #595959;
}
.article-content {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 0 12.5rem;
}
.article-content hr {
    margin-bottom: 0.8rem;
}
.article-content p {
    margin: 0.6rem 0;
    font-size: 1.05rem;
}
.article-content h2 {
    font-size: 1.4rem;
}
.article-content p strong {
    font-size: 1.05rem;
}
.article-sidebar{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
}
.article-sidebar-more {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.article-sidebar-title {
    display: flex;
}
.article-sidebar-title div {
    background-color: #0a0908;
    width: 4px;
    height: inherit;
    margin-right: 0.6rem;
}
.article-sidebar-title h2 {
    font-size: 1.3rem;
}
.sidebar-article {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.6rem;
    cursor: pointer;
    overflow: hidden;
    color: #0a0908;
    text-decoration: none;
}
.sidebar-article {
    font-size: 1.1rem;
}
.sidebar-article img {
    flex: 1;
    width: 50%;
    height: auto;
    object-fit: cover;
    display: block;
    transition: filter 0.3s ease;
    aspect-ratio: 16 / 9;
}
.sidebar-article div {
    flex: 5;
}
.sidebar-article div:hover {
    text-decoration: underline 1px;
}
.sidebar-article img:hover {
    filter: brightness(75%);
}
.article-tags {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.article-tags h2 {
    font-size: 1.2rem;
}
.related-articles {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.related-article-div img {
    width: 25%;
    border-radius: 0;
    max-height: 6rem;
    margin: 1rem 0;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
.related-articles h2{
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
}
.related-articles h3{
    margin: 1rem 0;
    font-size: 1.2rem;
}
.related-articles-outer-hr {
    border: none;
    border-top: 1px solid #0a0908;
}
.related-articles-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
}
.related-article-div {
    color: #0a0908;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    gap: 1rem;
}
.related-article-div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.related-article-div span {
    margin-bottom: 0.6rem;
    color: #595959;
}
@media (max-width: 768px) {
    .article-main-container {
        padding: 1.2rem 0;
    }
    .article-content {
        padding: 0 1.2rem;
    }
    .article-sidebar {
        display: none;
    }
    .article-container hr {
        color: transparent;
        border: transparent;
        margin-bottom: 0.3rem;
    }
    .related-articles h3{
        margin: 0.1rem 0;
        font-size: 1rem;
    }
    .related-article-div img {
        width: 40%;
        margin: 0.5rem 0;
    }
    .article-container h1,
    .article-info,
    .article-category {
        padding: 0 1.2rem;
    }
}
/* ------------------ category detail view ------------------ */
.page-container {
    margin: 0 auto;
    padding: 2rem 1.5rem;
    width: 100%;
    max-width: 90rem;
}
.title-center {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.title-center h1 {
    font-size: 1.5rem;
}
/*.category-articles-container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    gap: 2rem;*/
/*}*/
.category-articles-container {
    padding: 1.2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.category-article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}
/*.category-article {*/
/*    flex: 0 1 calc(25% - 2rem);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    overflow: hidden;*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*}*/
.category-article img {
    margin-bottom: 0.5rem;
    /*border-radius: 5px;*/
    height: 12.5rem;
    object-fit: cover;
}
.category-article a {
    color: #0a0908;
    text-decoration: none;
    object-fit: cover;
}
.category-article a h3 {
    font-size: 1.15rem;
}
.category-article a h3:hover {
    cursor: pointer;
    text-decoration: underline 1px;
}
.category-article h5 {
    color: #495057;
    font-size: 0.8rem;
    font-weight: 400;
}
@media (max-width: 1343px) {
    .category-articles-container {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 1.5rem;
    }
}
@media (max-width: 1080px) {
    .category-articles-container {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 1rem;
    }
}
@media (max-width: 768px) {
    .page-container {
        padding: 2rem 1rem;
    }
    .category-articles-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
    }
}
@media (max-width: 425px) {
    .page-container {
        padding: 2rem 0.5rem;
    }
}

/* ------------------ tag detail view ------------------ */
.tag-page-container {
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 64rem;
}
.tags-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.6rem;
}
.tags-list-article {
    width: 100%;
    flex-direction: row;
    display: flex;
    gap: 1.2rem;
    cursor: pointer;
    overflow: hidden;
    color: #0a0908;
}
.tag-article-text {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-decoration: none;
}
.tag-article-text h2 {
    font-size: 1.3rem;
}
.tag-article-text h2:hover {
    text-decoration: underline;
}
.tag-article-date {
    font-size: 0.8rem;
}
.tag-article-summary {
    font-weight: 400;
    font-size: 1rem;
}
.tag-article-img {
    flex: 1;
}
.tag-article-img img {
    width: 100%;
    height: 100%;
    max-height: 12.5rem;
    /*border-radius: 4px;*/
    transition: filter 0.3s ease;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.tag-article-img img:hover {
    filter: brightness(75%);
}
@media (max-width: 375px) {
    .tag-article-text h2 {
        font-size: 1.1rem;
    }
    .tag-article-date {
        font-size: 0.7rem;
    }
    .tag-article-summary {
        font-weight: 400;
        font-size: 0.8rem;
    }
}
@media (max-width: 425px) {
    .tag-article-summary {
        display: none;
    }
    .tag-article-img img {
        aspect-ratio: 1 / 1;
    }
}
@media (max-width: 768px) {
    .tag-page-container {
        padding: 2rem 1rem;
    }
    .tag-article-img {
        flex: 2;
    }
    .tags-list-article {
        gap: 0.4rem;
    }
}
.mobile-pagination,
.pagination {
    padding: 1.2rem;
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
}
.mobile-pagination {
    display: none;
}
.mobile-pagination a,
.pagination a {
    padding: 0.6rem 1rem;
    text-decoration: none;
}
@media (max-width: 565px) {
    .mobile-pagination {
        display: flex;
    }
    .pagination {
        display: none;
    }
}
.pagination-button-active {
    cursor: default;
    color: #ffffff;
    background-color: #0a0908;
    border-radius: 4px;
}
.pagination-button {
    color: #0a0908;
    background-color: #ececec;
    border-radius: 4px;
    transition: 0.3s ease;
}
.pagination-button:hover {
    color: #ffffff;
    background-color: #0a0908;
}
.points {
    color: #0a0908;
    cursor: pointer;
}

/* ------------------ more categories page ------------------ */
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2.5rem 1.2rem;
    max-width: 75rem;
    margin: 0 auto;
}
.news-card {
    display: flex;
    flex-direction: column;
}
.category-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
    display: flex;
}
.category-title h3 {
    transition: 0.3s ease;
}
.category-title h3 a {
    color: #0a0908;
    text-decoration: none;
    font-size: 1.2rem;
}
.news-card:hover h3 {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0.5rem;
}
.news-card img {
    width: 100%;
    /*border-radius: 6px;*/
    margin-bottom: 0.6rem;
    height: 14rem;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
.main-headline {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0a0908;
}
.main-headline:hover {
    text-decoration: underline;
}
.sub-headline {
    font-size: 0.9rem;
    margin: 4px 0;
    color: #333;
    border-top: 1px solid #ccc;
    padding-top: 4px;
}

/* ------------------ countries page ------------------ */

.countries-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.country-button {
    padding: 0.6rem 1rem;
    border: 1px gray solid;
    color: #0a0908;
    text-decoration: none;
}
.country-button:hover {
    color: #ccc;
    background-color: #0a0908;
    cursor: pointer;
    transition: 0.3s ease;
}
.country-button.active {
    color: #ccc;
    background-color: #0a0908;
}
.country-main-block {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.country-main-1 {
    flex: 2;
}
.country-article-mobile-1 a,
.country-main-mobile a,
.country-second-block a,
.country-main-block a {
    color: #0a0908;
}
.country-article-mobile-1 a span,
.country-main-mobile a span,
.country-second-block a span,
.country-main-block a span {
    color: #495057;
    font-size: 0.85em;
    font-weight: 400;
}
.country-main-1 a h3{
    font-size: 1.2em;
    font-weight: 400;
}
.country-main-1 a h1 {
    font-size: 1.6em;
    font-weight: 600;
}
.country-article-mobile-1 h1:hover,
.country-main-mobile h1:hover,
.country-second-block h1:hover,
.country-main-block h1:hover {
    text-decoration: underline;
}
.country-article-mobile-1 a img,
.country-main-mobile a img,
.country-second-block a img,
.country-main-block a img {
    border-radius: 0;
    margin-bottom: 0.4rem;
}
.country-main-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.country-main-2 a h1 {
    font-size: 1.1em;
    font-weight: 600;
}
.country-second-block {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.country-latest {
    font-size: 1.4rem;
}
.country-latest-img {
    flex: 2;
}
.country-main-mobile {
    display: none;
    flex-direction: column;
}
.country-main-mobile hr {
    margin-bottom: 0.8rem;
}
.country-main-mobile h1 {
    font-size: 1.2rem;
}
.country-article-mobile-1 h1,
.country-article-mobile-1 span{
    color: #0a0908;
    padding: 0 1.5rem;
}
.country-article-mobile-1 h1{
    font-size: 1.4rem;
}
.country-article-mobile-2 {
    padding: 0 1rem;
}
.country-article-mobile-2 span{
    padding: 0;
}
.country-mobile-head-part {
    display: none;
    flex-direction: column;
    gap: 1rem;
}
.mobile-menu {
    margin: 1.4rem 0 1rem;
}
@media (max-width: 768px) {
    .country-latest-text h1 {
        font-size: 1.3rem;
    }
    .country-latest-text h3 {
        display: none;
    }
}
@media (max-width: 425px) {
    .countries-menu,
    .country-main {
        display: none;
    }
    .country-latest-text h1 {
        font-size: 1.1rem;
    }
    .country-latest-img {
        flex: 3;
    }
    .country-latest-container {
        padding: 2rem 0;
    }
    .country-latest {
        margin-top: 2rem;
    }
    .country-main-mobile,
    .countries-menu.mobile-menu,
    .country-mobile-head-part {
        display: flex;
    }
    .country-article-mobile-2 {
        padding: 0 2rem;
    }
    .country-article-mobile-1 h1,
    .country-article-mobile-1 span {
        padding: 0 0.5rem;
    }
}
@media (max-width: 320px) {
    .country-latest-text h1 {
        font-size: 0.9rem;
    }
    .country-latest-img {
        flex: 3;
    }
}