* {
    box-sizing: border-box;
}

.funnel-display-font {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
    margin: 0;
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #b80000;
    color: white;
    padding: 20px 0;
    z-index: 1000;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    justify-content: left;
    padding: 0 2px;
}

header .logo:hover {
    cursor: pointer;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* выравниваем влево */
}

nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-top: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0;
    border: 3px solid #ffffff;
}

nav ul li:hover {
    border-bottom: 3px solid #b80000;
    cursor: pointer;
}
nav ul li:active {
    border: 3px solid #343434;
    cursor: pointer;
}

nav ul li a {
    margin: 15px 0 10px 0;
    text-decoration: none;
    color: #0d1b2a;
    display: block;
    width: 100%;
    height: 100%;
}

.a-link {
    text-decoration: none;
    color: #0d1b2a;
}

.global-container {
    max-width: 1200px; /* ширина контейнера */
    margin: 0 auto; /* автоматические отступы слева и справа */
    padding: 0 20px;
}
.container {
    margin-top: 20px;
    width: 100%;
}

.timestamp {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}

.news-block {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-template-areas:
            "main main side1 side2"
            "main main side3 side4"
            "vertical mini1 mini2 mini3"
            "vertical mini4 mini5 mini6"
}
.news-block img{
    width: 100%;
    object-fit: cover;
}
.main-news {
    grid-area: main;
}
.side-news:nth-of-type(2) { grid-area: side1; }
.side-news:nth-of-type(3) { grid-area: side2; }
.side-news:nth-of-type(4) { grid-area: side3; }
.side-news:nth-of-type(5) { grid-area: side4; }
.side-news {
    height: 100%;
    width: 100%;
}

.vertical-news {
    grid-area: vertical;
}

.mini-news:nth-of-type(2) { grid-area: mini1; }
.mini-news:nth-of-type(3) { grid-area: mini1; }
.mini-news:nth-of-type(4) { grid-area: mini1; }
.mini-news:nth-of-type(5) { grid-area: mini1; }
.mini-news:nth-of-type(6) { grid-area: mini1; }
.mini-news:nth-of-type(7) { grid-area: mini1; }

.main-news,
.side-news,
.vertical-news,
.mini-news{
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    height: auto;
}

.main-news img{
    height: 300px;
}
.vertical-news img{
    height: 200px;
}
.side-news img {
    height: 150px;
}
.mini-news {
    border-top: 1px solid #ddd;
    padding-top: 8px;
}
.news-block h1, h3{
    margin-top: 0;
    font-weight: 600;
}
.news-block h1 {
    font-size: 26px;
}
.news-block h3 {
    font-size: 17px;
}
.news-block a:visited{
    color: #595959;
}

.news-block h1:hover, h3:hover{
    text-decoration: underline;
    cursor: pointer;
}


.article-container {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

/* Левая колонка */
.article {
    flex: 3; /* больше места */
    max-width: 100%;
}
.article img {
    margin: 20px 0 50px 0;
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.article p {
    margin: 0;
    font-size: 18px;
    padding: 0 50px 24px 0;
}
.article h1 {
    margin-top: 0;
}
.article .summary {
    font-weight: bold;
    line-height: 1.5;
}
.article-text {
    line-height: 1.5;
}
/*.main-article img {*/
/*    width: 100%;*/
/*    max-height: 400px;*/
/*    object-fit: cover;*/
/*    margin: 20px 0;*/
/*}*/
/* Правая колонка */
.article-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 0;
    max-height: fit-content;
    position: sticky;
}
.article-sidebar h1 {
    margin: 0;
    font-size: 22px;
}

.tag-block {
    padding: 0;
    margin: 30px 0;
    border-radius: 8px;
}

.tag-block h3 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.tag:hover {
    text-decoration: underline;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.few-articles {
    justify-content: left;
}
.tag-title {
    margin: 30px 0 60px 0;

}
.article-card {
    flex: 0 1 calc(25% - 20px); /* 4 карточки в ряд с учётом gap */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}
.article-card h3 {
    font-size: 16px;
    font-weight: 600;
}
.article-card h3 a {
    text-decoration: none;
    color: #0d1b2a;
}
.article-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}