{% extends 'MainApp/new_base.html' %}
{% load static %}
{% load custom_naturaltime %}

{% block content %}
    <div class="article-main-container">
        <div class="article-container">
            <a href="{{ article.category.get_absolute_url }}" class="article-category">{{ article.category }}</a>
            <h1>{{ article.title }}</h1>
            <div class="article-info">
                {{ article.created_at }}
            </div>
            <img src="{{ article.image.url }}" alt="{{ article.title }}"/>
            <div class="article-content">
                <p><strong>{{ article.summary }}</strong></p>
                {{ article.content|safe }}
                
                {% if related_articles_count > 0 %}
                <div class="related-articles">
                    <h2>ARTICLES LIKE THIS</h2>
                    <hr class="related-articles-outer-hr">
                    <div class="related-articles-content">
                        {% for article in related_articles %}
                            <a href="{{ article.get_absolute_url }}" class="image-wrapper related-article-div">
                                <img src="{{ article.image.url }}" alt="{{ article.title }}"/>
                                <div>
                                    <h3>{{ article.title }}</h3>
                                    <span>{{ article.created_at|custom_natural_time }}</span>
                                </div>
                            </a>
                            {% if not forloop.last %}
                                <hr style="border: none; border-top: 1px solid #ccc;">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr class="related-articles-outer-hr">
                </div>
                {% endif %}
                
                <div class="article-tags">
                    <h2>TAGS</h2>
                    <div class="tags-container">
                        {% for tag in article.tags.all %}
                            <a href="{{ tag.get_absolute_url }}" class="tag">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="article-sidebar">
            <div class="article-sidebar-more">
                <div class="article-sidebar-title">
                    <div></div>
                    <h2>MORE</h2>
                </div>
                {% for article in sidebar_articles %}
                <a href="{{ article.get_absolute_url }}" class="sidebar-article">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}"/>
                    <div><h4>{{ article.title }}</h4></div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
