{% extends 'MainApp/new_base.html' %}
{% load static %}
{% load custom_naturaltime %}

{% block header-left %}
<button class="mobile-sidebar-button" onclick="toggleSidebar()">☰</button>
{% endblock %}

{% block content %}
<div class="ibm-plex-mono-medium main-container">
    <div class="left-container">
        <div class="main-about">
            <div class="main-left-quote">"The press holds the power to do great good or immense harm. It is a power that demands wisdom, or it will destroy itself."</div>
            <div class="main-left-quote-author">— Inspired by the ideas of Joseph Pulitzer</div>
        </div>
        <div class="main-left-news">
            <h2>NEWS</h2>
            {% for article in left_articles %}
                <div class="left-article">
                    <a href="{{ article.get_absolute_url }}" class="image-wrapper">
                        <img style="border-radius:5px;" src="{{article.image.url}}" alt="{{article.title}}"/>
                        <h2>{{ article.title }}</h2>
                        <span class="left-article-date">{{ article.created_at|custom_natural_time }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="center-container">
        <div class="main-quote">
            <a>Beyond headlines. Beneath the noise.</a>
        </div>
        {% for article in main_articles %}
            <div class="main-article">
                <a href="{{ article.get_absolute_url }}" class="image-wrapper">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}"/>
                    <span>{{ article.created_at|custom_natural_time }}</span>
                    <h1>{{ article.title }}</h1>
                    <h3>{{ article.summary }}</h3>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="right-container">
        {% include 'MainApp/include/categories.html' %}
        <div class="popular-tags">
            <h2>POPULAR TAGS</h2>
            <div class="tags-container">
                {% for tag in popular_tags %}
                    <a href="{{ tag.get_absolute_url }}" class="tag">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<aside class="mobile-sidebar" id="mobile-sidebar">
    <div class="sidebar-header">
        <button class="sidebar-button" onclick="toggleSidebar()">↶</button>
    </div>
    <div class="sidebar-categories">
        {% include 'MainApp/include/categories.html' %}
    </div>
    <div class="popular-tags">
        <h2>POPULAR TAGS</h2>
        <div class="tags-container">
            {% for tag in popular_tags %}
                <a href="{{ tag.get_absolute_url }}" class="tag">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
</aside>
<div class="main-container-bottom">
    {% for item in categories_with_articles %}
        <div class="category-news-container">
            <div class="border-line"></div>
            <a href="{{ item.category.get_absolute_url }}" class="image-wrapper article-wrapper">
                <h2>{{ item.category.name }}</h2>
                <img src="{{ item.first_article.image.url }}" alt="{{ item.first_article.title }}"/>
            </a>
            <a href="{{ item.first_article.get_absolute_url }}" class="bottom-article-title">{{ item.first_article.title }}</a>
            {% for article in item.articles %}
                <hr>
                <h4><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<div class="latest-articles-container">
    <h2>LATEST</h2>
    <hr>
    {% for item in latest_articles %}
        <div class="latest-article {% if forloop.last %}latest-article-last{% endif %}">
            <a href="{{ item.get_absolute_url }}" class="latest-article-wrapper">
                <div class="latest-article-img">
                    <img src="{{ item.image.url }}" alt="{{ item.title }}"/>
                </div>
                <div class="latest-article-text">
                    <div>
                        <h1>{{ item.title }}</h1>
                        <h3>{{ item.summary }}</h3>
                    </div>
                    <span>{{ item.created_at|custom_natural_time }}</span>
                </div>
            </a>
        </div>
    {% endfor %}
    <div class="latest-more-button-div">
        <a class="latest-more-button" href="{% url 'latest_news' %}"><div>See more</div> ⟶</a>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'MainApp/js/mobile_sidebar.js' %}"></script>
{% endblock %}