{% extends 'MainApp/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="news-block">
            <div class="main-news">
                <img src="{{ main_article.image.url }}" alt="{{ main_article.title }}"></img>
                <h1><a class="a-link" href="{{ main_article.get_absolute_url }}">{{ main_article.title }}</a></h1>
                <p class="summary">{{ main_article.summary }}</p>
            </div>

            {% for side_article in side_articles %}
                <div class="side-news">
                    <img src="{{ side_article.image.url }}" alt="{{ side_article.title }}"></img>
                    <h3><a class="a-link" href="{{ side_article.get_absolute_url }}">{{ side_article.title }}</a></h3>
                </div>
            {% endfor %}

            <div class="vertical-news">
                <img src="{{ vertical_article.image.url }}" alt="{{ vertical_article.title }}"></img>
                <h3><a class="a-link" href="{{ vertical_article.get_absolute_url }}">{{ vertical_article.title }}</a></h3>
            </div>

            {% for mini_article in mini_articles %}
                <div class="mini-news"><h3><a class="a-link" href="{{ mini_article.get_absolute_url }}">{{ mini_article.title }}</a></h3></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
